 body {
    margin: 0;
    padding: 0;
    font-family: 'Lato',sans-serif;
    background: linear-gradient(126deg
    , #c5d5cb 29% , #ffffff50.71%), linear-gradient(
    131deg
    , #e3e0cf 75% , #9fa8a3.71%);
}
a {
    text-decoration: none !important;
    color: #000 !important;
}
h3 {
    font-size: 19px !important;
    font-weight: 700 !important;
}
h3 a{
    text-decoration: none !important;
    color: #000 !important;
    font-size: 19px;
    font-weight: 700;
}
img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.heading .main-heading p{
    font-size: 80px;
    text-align: center;
    font-weight: 800;
    margin: 355px 0 30px;
    letter-spacing: 12px;
    line-height: 1em;
    overflow-wrap: break-word;
}
.heading .main-heading h1{
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    margin: 75px 5px 20px;
    letter-spacing: 12px;
    line-height: 1em;
    overflow-wrap: break-word;
}
.sub-heading p{
    text-align: center;
    font-size: 23px;
    text-transform: capitalize;
}
.link p {
    text-align: center;
    margin-top: 50px;
}
.link p a {
    border: 2px solid;
    width: 178px;
    padding: 12px;
    color: #6f6f6f;
}    
.link p a:hover {
    border: 2px solid #000;
    width: 178px;
    padding: 12px;
background: black;
    color: #c5d5cb !important;
}
main ol {
    padding-left: 10px !important;
}
.first-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    overflow-wrap: break-word;
}
.first-section .col-sm-12 {
    flex: 0 0 auto;
    border-radius: 5px;
    border-radius: 5px;
    backdrop-filter: blur(13px);
    /* background-color: #e3e0cf38; */
    box-shadow: 0px 0px 20px 0px #a4a4a4;
    margin: 30px 40px 10px;
}
.first-section h1, .second-section h1, .third-section h1, .fourth-section h1 {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 13px 0 39px 0;
}
.first-section h2, .second-section h2, .third-section h2, .fourth-section h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.third-section, .fourth-section {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
}
.third-section .col-sm-12, .third-section .col-lg-12 {
    flex: 0 0 auto;
    border-radius: 5px;
    backdrop-filter: blur(13px);
    background-color: #c5d5db;
    color: black;
    padding: 15px;
    margin: 30px 18px 10px;
}
.third-section h3 {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.third-section p{
    font-size: 20px;
}
.third-section span {
    font-family: monospace;
    font-size: 55px;
    font-weight: 100;
}
.team p{
    margin-top: 1.9rem;
    font-weight: 500;
}
.team img {
    width: 100%;
    height: 320px;
    padding: 20px;
}
iframe {
    width: 100%;
    height: 515px;
    border: 4px solid #7e7e7e;
}
.detail .col-12 {
    margin: 30px 5px;
    padding: 20px;
    flex: 0 0 auto;
    border-radius: 5px;
    border-radius: 5px;
    backdrop-filter: blur(13px);
    box-shadow: 0px 0px 20px 0px #a4a4a4;
}
#height-sm{
    height: 100px;
}
.hr {
    width: 5%;
    margin: 30px 40px;
    background: black;
}
.hr hr {
    height: 2px !important;
}

div.gallery {
    border: 1px solid #ccc;
    margin: 25px 0;
    padding: 20px;
    height: auto;
}

div.gallery:hover {
  border: 2px solid #fff;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.photo-gal {
    height: auto;
    display: block;
    float: left;
    margin: 30px 5px;
    padding: 20px;
    flex: 0 0 auto;
    border-radius: 5px;
    backdrop-filter: blur(45px);
    box-shadow: 0px 0px 20px 0px #a4a4a4;
}
.detail {
    clear: both;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 32.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 768px) {
.hr {
    width: 10%;
    margin: 30px 0;
    }
    }
@media (max-width: 600px) {
    iframe {
        height: 280px;
    }
    .third-section p {
    font-size: 18px;
}
.third-section, .fourth-section {
    width: 90%;
}
}

    